$borderStyle: solid;
$borderColor: #FFFFFF;
$borderWidth: 1px;
$quoteColor: #F1C2A4;
$quoteFontFamily: NuevaStd;
$quoteFontSize: 14pt;
$contentColor: #FFFFFF;
$contentFontFamily: Miriam;
$contentFontSize: 14pt;

.block {

	&__title {

	}

	&__article {
		margin: 25px auto;
		padding: 0 20px;
		text-align: justify;

		&__frame-img {
			border: $borderColor $borderWidth $borderStyle;
		}

		&__quote {
			margin: 15px auto;
			color: $quoteColor;
			font: $quoteFontSize $quoteFontFamily, serif;
			letter-spacing: 2pt;
		}

		&__content {
			color: $contentColor;
			font: $contentFontSize $contentFontFamily, sans-serif;
			border-left: $borderColor $borderWidth $borderStyle;
			padding: 0 20px;
			margin: 30px 0;
			line-height: 21pt;
		}

		&__content:first-letter {
			font-size: 22pt;
		}

		&__image-list {
			display: inline-block;
			/*margin: 0px auto;*/

			&__image-item {
				float: left;
			}
		}

		&__image-list:after {
			content: '';
			display: block;
			clear: both;
		}

		&__overflow-item {
			margin: 0 -20px;
		}

		&__video-size {
			width: 100%;
			height: auto;
		}
	}
}
