html {
	/*min-width: 375px;*/
}

body {
	background-color: #000000;
	max-width: 1920px;
	margin: 0 auto;
	
	/*min-width: 375px;*/
}

footer {
	border-top: #FFFFFF 1px solid;
	height: 87px;
}

.img-small {
	/* if width is greater than 375px */
	display: none;

	@mixin atSmall {
		display: block;
	}
}

.img-medium {
	display: none;

	@mixin atMedium {
		display: block;
	}

	/* if width is less than 375px */
	@mixin atSmall {
		display: none;
	}	
}

.img-large {
	display: block;
	/* if width less than 768px */
	@mixin atMedium {
		display: none;
	}
}