.navbar {
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 60px;
	background-color: #000;

	&__content {
		ul {
			display: none;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 60px;
			font: 20pt NuevaStd, serif;
			width: 100%;

			li {
				padding: 12px 0;
				text-align: center;
				background-color: #000;
				border-top: #444444 1px solid;
				height: 22pt;

				a {
					display: inline-block;	
					text-decoration: none;
					cursor: pointer;
					color: #fff;
					line-height: 28pt;
					height: 22pt;
				}
			}
		}
	}

	&__icon {
		position: absolute;
		top: 50%;
		right: 0%;
		transform: translate(-50%, -50%);
		cursor: pointer;

		.hamburger {
			width: 35px;
			height: 6px;
			background-color: #fff;
			transition: 0.4s;
		}

		.hamburger:before, .hamburger:after {
			content: '';
			position: absolute;
			width: 35px;
			height: 6px;
			background-color: #fff;
			transition: 0.4s;
		}

		.hamburger:before {
			top: -12px;
		}

		.hamburger:after {
			top: 12px;
		}

	}

	&__icon.active {
		.hamburger {
			background-color: #000;
		}

		.hamburger:before {
			top: 0;
			transform: rotate(45deg);
		}

		.hamburger:after {
			top: 0;
			transform: rotate(135deg);
		}
	}
}

/*.hamburger {
	
	width: 35px;
	height: 6px;
	background-color: #fff;
	transition: 0.4s;
}

.hamburger:before, .hamburger:after {
	content: '';
	position: absolute;
	width: 35px;
	height: 6px;
	background-color: #fff;
	transition: 0.4s;
}

.hamburger:before {
	top: -12px;
}

.hamburger:after {
	top: 12px;
}

.icon.active .hamburger {
	background-color: #000;
}

.icon.active .hamburger:before {
	top: 0;
	transform: rotate(45deg);
}

.icon.active .hamburger:after {
	top: 0;
	transform: rotate(135deg);
}*/