.panel {
	display: block;
	max-width: 90%;
	background: rgba(100,100,100, 0.3);
	margin: 30px auto;
	padding: 20px;
	box-sizing: border-box;

	&__horizontal-tab-group {

		&__tabs {
			width: 100%;
			margin: 14px 0;

			ul:after {
				content: '';
				display: block;
				clear: both;
			}

			ul {
				padding: 0;
				margin: 0;

				li {
					float: left;
					width: 50%;
					/*height: 100%;*/
					text-align: center;
					list-style: none;
					padding: 10px 20px;
					box-sizing: border-box;
					background-color: rgba(125, 125, 125, 0.4);
					font: 12pt Mariam, sans-serif;
					letter-spacing: 1pt;
					cursor: pointer;
					transition: 0.3s;

					a {
						text-decoration: none;
						color: #fff;
						/*width: 100%;*/
					}
				}
			}

			ul {

				li.active {
					background-color: rgba(26, 256, 209, 0.6);
				}
			}
		}

		&__content {

		}
		
	}
}

.horizontal-text-button-gruop {
	box-sizing: border-box;
	margin: 6px 15px;
	
	.text {
		padding: 10px 15px;
		margin: 8px 0;
		width: 80%;
		box-sizing: border-box;
	}

	.button {
		display: block;
		padding: 10px auto;
		margin: 8px 0;
		float: right;
		width: 20%;
		box-sizing: border-box;
		font-size: 12.5pt;
	}
}

.fixed-panel {
	display: inline-block;
	position: fixed;
	bottom: 0;
	background-color: rgba(87, 87, 87, 0.5);
	width: 100%;
	border: none;
}