@import "normalize.css";
@import "font.css";
@import "rwd.css";
@import "landingArea.css";
@import "navbar.css";
@import "section.css";
@import "panel.css";
@import "customInput.css";
@import "linkArea.css";
@import "global.css";
/*

@import "landing.css";
@import "navbar.css";
@import "block.css";*/



/*$mainColor: #000000;


body {
	color: $mainColor;
}

.large-hero {
	position: relative;
}

.large-hero__text-content {
	position: absolute;
	text-align: center;
}

@define-mixin atSmall {
	@media (max-width: 375px) {
		@mixin-content;
	}
}

.rwd {
	@mixin atSmall {
		font-size: 2rem;
	}
}*/