@import "normalize.css";
@import "font.css";
@import "global.css";
@import "landing.css";
@import "navbar.css";
@import "block.css";
@import "signInPanel";
@import "forum";

/*$mainColor: #000000;


body {
	color: $mainColor;
}

.large-hero {
	position: relative;
}

.large-hero__text-content {
	position: absolute;
	text-align: center;
}

@define-mixin atSmall {
	@media (max-width: 375px) {
		@mixin-content;
	}
}

.rwd {
	@mixin atSmall {
		font-size: 2rem;
	}
}*/